extend base

block body
  .row-fluid
    .span9
      section
        h1 
          block blog_title
        h2
          block blog_subtitle
        block blog_content
        #g-comments

block scripts
  script.
    gapi.comments.render('g-comments', {
      href: window.location,
      width: '550',
      first_party_property: 'BLOGGER',
      view_type: 'FILTERED_POSTMOD'
    });
