extend blog_base

block title
  | Compromises and Productivity - Squirly.ca
block blog_title
  | Compromises and Productivity
block blog_subtitle
  | Getting it Good-Enough with Nginx
block blog_content
  p Test
