extend base

block title
  | Tyler Jones

block body
  .row-fluid
    img(src="http://www.gravatar.com/avatar/9ebe210f3dc1318cca8c3765a6d9e0f3.png")
    h1 Find Me on:
    ul
      li: a(rel=me, href="https://plus.google.com/u/0/114596080058308331871/posts") Google+
